<div class="content">
  <section class="hero">
    <div class="hero__content">
      <h1>{{ H1_TITLE }}
        <b class="name">Francisco Suarez</b>
      </h1>
      <p>{{ P_CONTENT }}</p>
    </div>
    <div class="hero__image">
      <img src="{{ IMG_PROFILE }}" alt="Francisco Suarez" />
    </div>
  </section>
  <section class="services">

    <div class="services__general">
      <h1 class="services__general__title">Services</h1>
      <a class="services__general__button">Get in touch </a>
    </div>

    <div class="services__content">
      <p class="services__content_description">
        I am a full stack developer with a passion for building beautiful
        websites and applications. I have been developing for over 5 years and
        have experience in many different languages and frameworks. I love
        learning new technologies and am always looking for my next challenge.
      </p>
      <div class="services__content_items">
        <div class="services__content_items__item" *ngFor="let item of SERVICES_ITEMS">
          <p>
            {{item}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="projects"></section>
  <section class="timeline"></section>
  <!-- <section class="popular"></section> -->
</div>