@import "../../.././styles.css";

.content {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2rem;
}

.hero .hero__image {
  width: 70%;
  height: 70%;
  aspect-ratio: auto 700 / 700;
}

.hero .hero__content h1 {
  font-size: var(--font-size-titles);
}

.hero .hero__content h1 b.name {
  color: var(--color-green-dark);
}

.hero .hero__content p {
  font-size: var(--font-size-text);
  margin-top: 1rem;
  text-align: left;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
  width: 100%;
  flex-direction: column;
}

.services .services__general {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.services .services__general .services__general__title {
  font-size: var(--font-size-titles);
  font-weight: var(--font-weight-titles);
  color: var(--color-green-dark);

  display: flex;
  align-items: center;
  width: auto;
}


.services .services__general .services__general__button {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  gap: 10px;

  border-radius: var(--border-radius);
  background-color: var(--color-green-medium) !important;

  cursor: pointer;
}

.services .services__general .services__general__button .services_general_button_text {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--font-color);
  margin-left: 5px;
}

.services .services__general .services__general__button .services_general_button_icon {
  width: auto;
}

.services__content .services__content_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 2rem;
}

.services__content .services__content_items .services__content_items__item {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  /* color: var(--color-green-dark); */
  color: var(--font-color);
  background-color: var(--color-green-medium);
  border-radius: var(--border-radius);
}
