/* import variables css */

.menubar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: initial;
  align-items: center;
}

.logo .logo-img {
  height: 60px;
  width: 60px;
  aspect-ratio: auto 60 / 60;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 100%;
}
.links a {
  height: 40px;
  padding: 0 1rem;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.links a:hover {
  background-color: #500a827d;
  border-radius: 5px;
}

.links a.is-active {
  animation: active 0.5s ease-in-out;
  background-color: #500a827d;
  border-radius: 5px;
}
