<nav class="menubar">
  <div class="logo">
    <a routerLink="/">
      <img class="logo-img" [src]="IMG_ICON" alt="" />
    </a>
  </div>
  <ng-container *ngIf="!hiddenSidebar">
    <menu class="links" *ngFor="let item of items">
      <a routerLink="/{{ item.label }}" routerLinkActive="is-active">{{
        item.label
      }}</a>
    </menu>
  </ng-container>

  <ng-container *ngIf="hiddenSidebar">
    <p-sidebar [(visible)]="sidebarVisible" position="right">
      <ng-template pTemplate="header">Suadev Content</ng-template>
      <ng-template pTemplate="content">
        <menu *ngFor="let item of items">
          <a routerLink="/{{ item.label }}" routerLinkActive="is-active">{{
            item.label
          }}</a>
        </menu>
      </ng-template>
      <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>

    <p-button
      class="menubar__button"
      (click)="sidebarVisible = true"
      icon="pi pi-bars"
    ></p-button>
  </ng-container>
</nav>
