.project__tab {
  .p-tabview-nav {
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
  }

  .p-tabview-nav li {
    width: auto;
    .p-tabview-nav-link {
      border-radius: var(--border-radius);
      border: none;
    }
  }

  .p-tabview-nav li a {
    background-color: transparent;
  }
}

.project__panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background: none;
  padding: 0;
  margin-top: 10px;
  border: 0 none;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: none;
  border: none;
  border-width: 0 0 2px 0;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

:host ::ng-deep .p-tabview .p-tabview-nav li {
  max-width: 200px;
  width: auto;
  font-size: 0.75rem;
  color: black;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-radius: 0 !important;
  background: none;
  padding: 12px 24px;
  border: none;
  margin: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li:hover {
  border-radius: 0 !important;
  background: none;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-radius: var(--border-radius) !important;
  background: var(--color-purple-dark);
}

:host ::ng-deep .p-tabview-title {
  color: var(--font-color);
}

.p-tabview-panel[aria-hidden="false"] {
  background-color: transparent;
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project {
  padding: 20px 30px;
  margin: 18px 0;
  background-color: var(--color-purple-darker);
  border-radius: var(--border-radius);
  color: var(--color-purple-medium);

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;

  cursor: pointer;

  .project__description {
    .project__description__title {
      font-size: var(--font-size-span-title);
    }

    .project__description__text {
      font-size: var(--font-size-span-text);
    }
  }
  .project__img {
    width: 190px;
    height: 108px;
    aspect-ratio: auto 700 / 700;
  }
}
