/* You can add global styles to this file, and also import other style files */
/* Primefaces imports */
@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* Custom imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Variable's globals*/
:root {
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --font-size-titles: 48px;
  --font-size-h2: 36px;
  --font-size-text: 16px;
  --font-size-span-title: 22px;
  --font-size-span-subtitle: 20px;
  --font-size-span-text: 16px;
  --font-size-buttons: 1.2rem;
  --font-weight-buttons: 800;
  --font-weight-titles: 700;
  --font-weight-text: 500;
  --font-color-black: #070100;
  --font-color-dark: rgb(15, 2, 22);
  --font-color: white;
  --border-radius: 5px;
  --color-green-dark: #435334;
  --color-green-light: #cedebd;
  --color-green-medium: #9eb384;
  --color-purple-light: #e9d5da;
  --color-purple-medium: rgb(191, 90, 242);
  --color-purple-dark: #8e46d6;
  --color-purple-darker: rgb(15, 2, 22);
  --background-color: #fef7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-text);
  color: var(--font-color);
}

html {
  min-height: 100vh;
  /* background-color: var(--background-color); */
  /* background: -webkit-linear-gradient(90deg, #eccbff, #fbd9ff, #ffe5e7);
  background: linear-gradient(90deg, #eccbff, #fbd9ff, #ffe5e7); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: -webkit-linear-gradient(90deg, #131111, #43225e);
  background: linear-gradient(90deg, #131111, #43225e);
}
