@import "./assets/variables.css";

html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

#app {
  max-width: 100%;
  margin: 0 auto;
}